{% extends "base.html" %}

{% block content %}
	<div class="container">
		<form action="" method="post">{% csrf_token %}
			
			<div class="row">
				<div class="col-md-3">
					<p>{{form.username.label}} : </p>
				</div>
				<div class="col-md-9">
					{{form.username.errors}}
					{{form.username}}
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<p>{{form.email.label}} : </p>
				</div>
				<div class="col-md-9">
					{{form.email.errors}}
					{{form.email}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<p>{{form.password1.label}} : </p>
				</div>
				<div class="col-md-9">
					{{form.password1.errors}}
					{{form.password1}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<p>{{form.password2.label}} : </p>
				</div>
				<div class="col-md-9">
					{{form.password2.errors}}
					{{form.password2}}
				</div>
			</div>
			<input class="btn btn-primary" type="submit" value="Register" />
		</form>
	</div>
{% endblock%}
